<header>
      <div class="navbar navbar-default navbar-static-top
     {% if page.home %}navbar-transparent{% endif %}">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index.html">
            <img src="/img/logonew.png" alt="logo" height="50"/>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if page.nav == "home" %}class="active"{% endif %}><a href="/index.html">Home</a></li>
            <li {% if page.nav == "about" %}class="active"{% endif %}><a href="/1_publications.html">About me</a></li>
            <li {% if page.nav == "talks" %}class="active"{% endif %}><a href="/3_talks.html">Talks & Slides</a></li>
            <li {% if page.nav == "news" %}class="active"{% endif %}><a href="/older_news.html">News Archive</a></li>
            <li {% if page.nav == "review" %}class="active"{% endif %}><a href="/6_review.html">Reviewing tips</a></li>
            <li {% if page.nav == "open" %}class="active"{% endif %}><a href="/5_openpositions.html">Call for stagiaires</a></li>
          </ul>
        </div>
      </div>
    </div>
</header>