<header>
      <div class="navbar navbar-default navbar-static-top
     {% if page.home %}navbar-transparent{% endif %}">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index.html">
            <img src="/img/logonew.png" alt="logo" height="50"/>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if page.nav == "home" %}class="active"{% endif %}><a href="/index.html">Home</a></li>
            <li {% if page.nav == "about" %}class="active"{% endif %}><a href="/about.html">Publications</a></li>
            <li {% if page.nav == "talks" %}class="active"{% endif %}><a href="/talks.html">Talks & Slides</a></li>
            <li {% if page.nav == "cv" %}class="active"{% endif %}><a href="/cv.html">Curriculum Vitae</a></li>
            <li {% if page.nav == "news" %}class="active"{% endif %}><a href="/older_news.html">News Archive</a></li>
            <li {% if page.nav == "open" %}class="active"{% endif %}><a href="/open_positions.html">Open positions</a></li>
          </ul>
        </div>
      </div>
    </div>
</header>
