{% assign m = include.member %}
{% assign photo_src = m.photo | default: '/assets/img/avatar.png' %}
{% if photo_src == '' %}{% assign photo_src = '/assets/img/avatar.png' %}{% endif %}
<div class="col-md-3 text-center">
    <div class="team-member"
         tabindex="0"
         role="button"
         aria-label="Show details for {{ m.name }}"
         data-name="{{ m.name | escape }}"
         data-role="{{ m.role | escape }}"
         data-photo="{{ photo_src | escape }}"
         data-topic="{{ m.topic | default: '' | escape }}"
         data-co-supervisor="{{ m.co_supervisor | default: '' | escape }}"
         data-previously="{{ m.previously | default: '' | escape }}">
        <img class="thumbnail" width="400" height="300"
             src="{{ photo_src }}"
             alt="{{ m.name }}">
        <h4>{{ m.name }}</h4>
        <span class="deg">{{ m.role }}<br></span>
        {% if m.topic and m.topic != "" %}<em>{{ m.topic }}</em><br>{% endif %}
        {% if m.co_supervisor and m.co_supervisor != "" %}<em>Co-supervised with {{ m.co_supervisor }}</em><br>{% endif %}
        {% if m.previously and m.previously != "" %}<em>Previously: {{ m.previously }}</em><br>{% endif %}
    </div>
</div>
