<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="/css/jcarousel.css" rel="stylesheet" />
  <link href="/css/flexslider.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />

  {% if page.extra_css %}
    {{ page.extra_css }}
  {% endif %}
</head>

<body>
<div id="wrapper">

    <!-- Header / Navbar -->
    {% include navbar.html %}

    <!-- Page content -->
    {{ content }}

    {% include footer.html %}
</div>

<!-- JS -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
